@{
    ViewBag.Title = "Introduce";
}


<div id="carousel" class="slideshow-container">
    <div class="mySlides Fading">
        <img src="~/Content/image/Cake/macon1.jpg" />
        <div class="Text">Best Choise <br /> Yummy</div>
    </div>
    <div class="mySlides Fading ">
        <img src="~/Content/image/Cake/blue 1.jpg" />
        <div class="Text">Best Choise <br /> Birthday Cake</div>
    </div>
    <div class="mySlides Fading">
        <img src="~/Content/image/Cake/pink 1.jpg" />
        <div class="Text">Best Choise <br />  Natural</div>
    </div><br />
    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

</div>
<div class="ice-cream">
    <div class="w-100">
        <div class="font-color--pink font-w--bold text_a--center h-40 font-s--25 font-fa--Nerko padding-20">
            <b>Find Your Taste</b>
        </div>
        <div class="font-color text_a--center font-w--bold h-40 font-s--25 padding-20">
            <p>Buy any ice cream @@ get One Free</p>
        </div>
        <div class="text_a--center  padding-20">
            <img src="~/Content/image/ice-cream/ice-4.png" alt="hihi" style="width:50px; height:50px" />
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <img src="~/Content/image/ice-cream/ice-1.jpg" />
                <div class="text-content font-s--25 text_a--center">
                    <p style="color:#4dc1be" class="font-fa--Open">Raspberry Flavour</p>
                    <b> Blue Moon</b>
                </div>
                <div class="overlay-blue">

                </div>
            </div>
            <div class="col-md-4">
                <img src="~/Content/image/ice-cream/ice-2.jpg" />
                <div class="text-content font-s--25 text_a--center">
                    <p style="color:#a3bd3e" class="font-fa--Open"> Meld of Flavor</p>
                    <b> Neapolitan</b>
                </div>
                <div class="overlay-green">

                </div>
            </div>
            <div class="col-md-4">
                <img src="~/Content/image/ice-cream/ice-3.jpg" />
                <div class="text-content font-s--25 text_a--center">
                    <p style="color:#ba6972" class="font-fa--Open"> Natural Sweetness</p>
                    <b> Lucuma</b>
                </div>
                <div class="overlay-pink">

                </div>
            </div>
        </div>
    </div>
    <!--Our Products-->
    <div class="container-fluid bg-color--fuild  content-mg">
        <div class="w-100 content-mg">
            <div class="font-color--pink font-w--bold text_a--center h-40 font-s--25 font-fa--Nerko padding-20">
                <b>Best Taste of Desserts</b>
            </div>
            <div class="font-color text_a--center font-w--bold h-40 font-s--25 padding-20">
                <p class="font-fa--Nerko">Our Products</p>
            </div>
            <div class="text_a--center  padding-20">
                <img src="~/Content/image/ice-cream/ice-4.png" alt="hihi" style="width:50px; height:50px" />
            </div>
        </div>
        <div class="row content-btn-group content-mg">
            <div class="col-md-4"></div>
            <div class="col-md-4 text_a--center ">
                <a class="btn btn-content mg-a">Ice Cake</a>
                <a class="btn btn-content mg-a">Ice Bars</a>
                <a class="btn btn-content mg-a">Cream Cone</a>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="list-products container ">
            <div class="product-item content-mg">
                <img src="~/Content/image/ice-cream/ice-1.jpg" />
                <div class="product-des text_a--center">
                    <div class="product-name mg-a font-fa--Nerko font-s--25"> <span>Honey Ice Cake</span></div>
                    <div class="product-price"><span>690.000 $ </span> </div>
                </div>

            </div>
            <div class="product-item content-mg">
                <img src="~/Content/image/ice-cream/ice-2.jpg" />
                <div class="product-des text_a--center">
                    <div class="product-name mg-a font-fa--Nerko font-s--25"> <span>Ice Cocoa Cake</span></div>
                    <div class="product-price"><span>690.000 $ </span> </div>
                </div>

            </div>
            <div class="product-item content-mg">
                <img src="~/Content/image/ice-cream/ice-3.jpg" />
                <div class="product-des text_a--center">
                    <div class="product-name mg-a font-fa--Nerko font-s--25"> <span>Roster Cream Cake</span></div>
                    <div class="product-price"><span>690.000 $ </span> </div>
                </div>

            </div>
        </div>
    </div>
    <!--Adversiting-->
    <div class="container">
        <div class="h-150 row adv">
            <div class="col-md-9 font-color-nav mg-a  ">
                <b class=" font-fa--Nerko font-s--30">Find Your Taste of Desserts</b> <br />
                <p class="font-s--25">
                    Treat them to a delicious treat and send them some Luck 'o the Irish too!
                </p>
            </div>
            <div class="col-md-3">
                <a href="#" class="btn btn-readmore">Read More</a>
            </div>
        </div>
        <div class="row adv-mg">
            <div class="col-md-6 bg-img-1 col-mg-r h-300">
                <div>
                    <p class="font-s--30  content-mg">
                        Vanilla Choco <br />
                        Chip
                    </p>
                </div>
                <div>
                    <a href="#" class="btn btn-bgcolor-pink">Read More</a>
                </div>
            </div>
            <div class="col-md-6 bg-img-2 col-mg-l h-300">
                <div>
                    <p class="font-s--30 content-mg">
                        Kiwis Flavour <br />
                        Cream
                    </p>
                </div>
                <div>
                    <a href="#" class="btn btn-bgcolor-pink">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var slideIndex = 0;
    showSlide();
    function showSlide() {
        var i;
        var slides = document.getElementsByClassName('mySlides');
        var dots = document.getElementsByClassName('dot');
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = 'none';
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace('active', '');
        }
        slides[slideIndex - 1].style.display = 'block'
        dots[slideIndex - 1].className += ' active'
        setTimeout(showSlide, 5000)
    }
</script>
